.report_content{
    display: flex;
    flex-direction: column;
    margin-left: 33%;
    z-index: -1;
}
.report, .indiv_report{
    display: inline-block;
    background-color: whitesmoke;
    border: 1px solid gray;
    margin-bottom: 3%;
    padding: 10px;
    width: 35vw;
}
.report:nth-child(6n+1){
    margin-top: 25%;
}
.indiv_report:nth-child(6n+1){
    margin-top: 20%;
}
#title{
    border-left: 5px solid lightsteelblue;
    border-bottom: 2px solid lightsteelblue;
    padding: 1% 3%;
}
#rep{
    display: block;
    padding: 0 3%;
}
#report_about{
    padding: 3%;
    border-top: 1px solid lightslategray;
}
.openBtn{
    margin-left: 90%;
}
#indiv_namebox{
    position: fixed;
    width: 95vw;
    background-color: lavender;
    margin: 10% 6%;
}
#indiv_name{
    margin-left: 37%;
}
#back{
    color: cornflowerblue;
}
.gp_chbox{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 95vw;
    margin: 10% 6%;
}
.gp_box{
    display: flex;
    justify-content: center;
    background: white;
    border-bottom: 1px solid black;
    width: 50vw;
}
#gp_ttl{
    margin-top: 5%;
    margin-left: 3%;
}
#gp_ch{
    padding: 1%;
    margin: 2% 1%;
}
#gp_ch:first-child{
    margin-left: 3%;
}

@media only screen and (max-width: 767px){
    .report_content{
        margin: 0 2%;
    }
    .report, .indiv_report{
        margin-top: 5%;
        width: 90vw;
    }
    .report.report:nth-child(4n+1){
        margin-top: 35%;
    }
    .indiv_report:nth-child(4n+1){
        margin-top: 35%;
    }
    .openBtn{
        margin-left: 85%;
    }
    #indiv_namebox{
        width: 100vw;
        margin: 12% 0;
        padding: 3% 0;
    }
    #indiv_name{
        margin-left: 13%;
    }
    .gp_chbox{
        width: 100%;
        margin: 12% 0 0 0;
    }
    .gp_box{
        width: 100vw;
    }
    #gp_ttl{
        margin-left: 20%;
    }
    #gp_ch{
        -webkit-appearance: none;
        border-radius: 0;
        padding: 2%;
        margin-left: 2%;
        background-color: lightyellow;
        color: black;
    }
    #gp_ch:first-child{
        margin-left: 10%;
    }    
    
}